params {
    inputMap = './input.csv'
    output = "./results"
    filterIGHContigs = false
    alignWhich = "DNA"
    doPCoA = true
}

process {
    cpus = 2
    memory = '4 GB'
    time = '1h'
}

profiles {

    // Default local run
    standard {
        process.executor = 'local'
    }

    // Docker run (subject to change because I need to add the msa, tidytree, and ggtree packages)
    docker {
        process {
            executor = 'local'
            container = 'rocker/tidyverse:latest'
        }
        docker.enabled = true
    }

    // Apptainer (Singularity) run (subject to change because I need to add the msa, tidytree, and ggtree packages -> dependent on above image)
    apptainer {
        process {
            executor = 'local'
            container = 'docker://rocker/tidyverse:latest'
        }
        apptainer.enabled = true
    }
}
