params {
    inputMap = './input.csv'
    output = "./results"
    filterIGHContigs = false
    alignWhich = "DNA"
    doPCoA = true
}

process {
    cpus = 2
    memory = '4 GB'
    time = '1h'
}

dag {
    enabled = true
    file    = "${params.output}/pipeline_dag.html"
}

profiles {

    // Default local run
    standard {
        process.executor = 'local'
    }

    // Docker run (subject to change because I need to add the msa, tidytree, and ggtree packages)
    docker {
        process {
            executor = 'local'
            container = 'pipeline-501a:latest'
            }
            docker.enabled = true
            }
}
